*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:#0f172a;
  color:#f8fafc;
}

/* HERO */

.hero{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background:#020617;
  padding:50px;
  border-radius:20px;
  text-align:center;
  width:90%;
  max-width:420px;
  box-shadow:0 0 40px rgba(56,189,248,0.4);
}

.profile-img{
  width:140px;
  height:140px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #38bdf8;
  margin-bottom:20px;
}

h1{
  font-size:2.2rem;
}

h2{
  font-weight:400;
  margin-top:5px;
  color:#cbd5f5;
}

.subtitle{
  margin:15px 0 30px;
  color:#38bdf8;
}

/* BUTTONS */

.buttons a{
  display:inline-block;
  margin:10px;
  padding:12px 25px;
  border-radius:30px;
  background:#38bdf8;
  color:#020617;
  text-decoration:none;
  font-weight:bold;
  transition:0.3s;
}

.buttons a:hover{
  background:#0ea5e9;
}

/* SECTIONS */

section{
  max-width:900px;
  margin:80px auto;
  padding:0 20px;
}

h3{
  text-align:center;
  font-size:1.8rem;
  margin-bottom:30px;
}

/* ABOUT */

.about p{
  text-align:center;
  line-height:1.7;
  color:#e5e7eb;
}

/* SKILLS */

.skills-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
  gap:15px;
}

.skills-grid span{
  background:#1e293b;
  padding:12px;
  border-radius:10px;
  text-align:center;
}

/* PROJECTS */

.project-card{
  background:#020617;
  padding:25px;
  border-radius:15px;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
  text-align:center;
}

.project-links{
  margin-top:15px;
}

.project-links a{
  margin:10px;
  color:#38bdf8;
  text-decoration:none;
  font-weight:bold;
}

/* CONTACT */

.contact{
  text-align:center;
  color:#cbd5f5;
}

.contact p{
  margin:10px;
}
